.user-like {
    margin: 1em 0;
}

.user-like__button {
    display: inline-block;
    cursor: pointer;
    margin: 0 1em 0 0;
    padding: 0.2em 0 0.2em 0.5em;
}

.user-like__button--like {
    border: 1px solid green;
}

.user-like__button--dislike {
    border: 1px solid orange;
}

.user-like__button--liked {
    opacity: 0.5;
}

.user-like__count::after {
    content: attr(data-count);
    margin: 0 0.5em;
}